@model Morgenmadsbuffeten.Models.RestaurantViewModel

@{
    ViewData["Title"] = "Restaurant";
}
<div class="container">
    <div class="col-6">
        Morgenmadsbuffeten
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Log ud</a>
    </div>
</div>

<div class="container">
    <div class="col-6">
        <table>
            <thead>
                <tr> <th> Værelsesnummer &nbsp; <th> Voksne &nbsp; <th> Børn &nbsp; <th> Checket ind </th>
            </thead>
            <tbody>
                <tr> <td> 108 <td> 2 <td> 0 <td> <input id="Checkbox1" type="checkbox" /> </td>
                <tr> <td> 214 <td> 2 <td> 1 <td> <input id="Checkbox1" type="checkbox" /> </td>
                <tr> <td> 113 <td> 2 <td> 2 <td> <input id="Checkbox1" type="checkbox" /> </td>
                <tr> <td> 309 <td> 1 <td> 0 <td> <input id="Checkbox1" type="checkbox" /> </td>
                <tr> <td> 205 <td> 2 <td> 0 <td> <input id="Checkbox1" type="checkbox" /> </td>
                <tr> <td> 402 <td> 1 <td> 2 <td> <input id="Checkbox1" type="checkbox" /> </td>
            </tbody> 
        </table>
    </div>
</div>