@model Morgenmadsbuffeten.Models.KitchenViewModel

@{
    ViewData["Title"] = "Kitchen";
}

<div class="container">
    <div class="col-md-6">
        Morgenmadsbuffeten
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Log ud</a>
    </div>
</div>

<div class="container">
    <div class="col-md-6">
        <label for="myDate">Dato: </label>
        <input type="date" name="myDate" id="myDate" />

        <input type="submit" id="RefreshPage" class="btn btn-primary" value="Opdater" name="Command" />
    </div>
</div>

<div class="container">
    <div class="col-md-6">
        <table>
            <thead> 
                <tr> <th> <th> Voksne <th> Børn 
            <tbody>
                <tr> <th scope=row> Gæster i alt <td> 74 <td> 34
                <tr> <th scope=row> Gæster checket ind <td> 35 <td> 15
                <tr> <th scope=row> Gæster ikke checket ind &nbsp; <td> 39 <td> 19       
        </table>
    </div>
</div>

