@model Morgenmadsbuffeten.Models.KitchenViewModel

@{
    ViewData["Title"] = "Kitchen";
}

<table>
    <tr>
        <th> </th>
        <td>
            Voksne&nbsp;&nbsp;
        </td>
        <td>
            Børn
        </td>
    </tr>
    <tr>
        <th>Gæster i alt</th>
        <td>
            74
        </td>
        <td>
            34
        </td>
    </tr>
    <tr>
        <th>Gæster checket ind</th>
        <td>
            35
        </td>
        <td>
            15
        </td>
    </tr>
    <tr>
        <th>Gæster ikke checket ind&nbsp;&nbsp;&nbsp;</th>
        <td>
            39
        </td>
        <td>
            19
        </td>
    </tr>
</table>

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">log ud</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>